@import "../css/_variables";

.excalidraw {
  .Avatar {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $oc-white;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 500;
  }

  .btn {
    width: 22px;
    height: 22px;
    position: absolute;
    bottom: -2px;
    right: -2px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0 2px 8px 1px rgba(0,0,0,.2);
    cursor: pointer;

    &.call-btn {
      color: #40c057;
    }

    &.hangup-btn {
      color: #f76964;
    }

    &:hover {
      background-color: #eee;
    }
  }
}
